<div class="container">
  <div>
    <h1>{{title}}</h1>
  </div>


<div style="padding-top:5px">
  <div class="row" >

      <ul class="nav nav-pills">
        <li routerLinkActive="active"><a routerLink="/add-project">Add Project</a></li>
        <li routerLinkActive="active"><a routerLink="/add-task">Add Task</a></li>
        <li routerLinkActive="active"><a routerLink="/add-user">Add User</a></li>
        <li routerLinkActive="active"><a routerLink="/view-task">View Task</a></li>
      </ul>



  </div>
</div>
<router-outlet></router-outlet>

</div>
